body {
	background: url(http://satsumaart.files.wordpress.com/2012/02/worldmapdrawing-1-png.jpg)no-repeat  fixed;
        background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
}
#banner{
	background:url(http://satsumaart.files.wordpress.com/2012/02/worldmapdrawing-1-png.jpg)no-repeat fixed;
	 background-size: cover;
        -moz-background-size: cover;
        -webkit-background-size: cover;
        -o-background-size: cover;
}
}
#willy{
	background: url(http://fc07.deviantart.net/fs71/f/2012/163/8/d/willy_fog_by_yukimiyasawa-d53a8im.png);
}

#aceptar{
    margin-left:20px;
    width:130px;
    height:70px;
    font-size: 20px;
}

#puntuacion{
    font-size:25px;
    text-align: center;
}

#map
{ 
    margin-left: 20px;
    height: 650px;
    width:100%;
}

.col-md-12 column {  
   text-align:center;
}
.col-md-12 column form {
   display:inline-block;
}
div#results {
	font-style: sans-serif;
	color: black;
	font-size: 75%;
	}


p#History{
	font-style: sans-serif;
}

div#search {
	background-color: white;
	position: absolute;
	bottom: 40px;
	left: 40px;
	width: auto;
	height: auto;
	padding: 10px;
}
div#search input {
	width: 200px;
}
div#results {
	font-style: sans-serif;
	color: black;
	font-size: 75%;
	}

